* {
  box-sizing: border-box;
}
p {
  font-family: arial;
  max-width: 800px;
}
li {
  list-style-type: decimal;
}
img {
  padding: 5px;
}
.pf-header {
  border-bottom: 1px solid silver;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.pf-header h1 {
  font-size: 40px;
  font-family: arial, sans-serif;
  font-weight: normal;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}
.pf-header h2 {
  font-size: 50px;
  font-family: arial;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}
.pf-page {
  padding-top: 10px;
  padding-bottom: 200px;
  padding-left: 60px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.pf-page h3 {
  font-size: 30px;
  font-family: arial, sans-serif;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  max-width: 900px;
}
.under-date {
  font-size: 20px;
  font-family: arial;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}
.corse {
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}
.pr-1 img {
  height: 800px;
  padding-bottom: 5px;
}
.pr-2 img {
  height: 500px;
  padding-bottom: 5px;
}
.pr-3 img {
  max-width: 700px;
  padding-bottom: 5px;
}
.pr-4 img {
  height: 600px;
  padding-bottom: 5px;
}
.bridge-1 {
  width: 800px;
}
.model-01 {
  width: 800px;
}
.model-02 {
  height: 295px;
}
.model-03 {
  height: 295px;
}
.parf {
  width: 750px;
}
.vangelis {
  width: 700px; 
  padding: 0px; 
  border: 1px solid silver;
  margin: 5px;
}
.model-04 {
  width: 700px;
}
.pr-5 {
  width: 700px; 
  padding: 0px; 
  border: 1px solid silver; 
  margin: 5px;
}
.gr-1 {
  height: 800px;
}
.gr-2 {
  height: 800px;
}
.gr-3 {
  height: 600px;
}
.gr-4 {
  height: 800px;
}
@media (max-width: 768px) {
.pf-header {
  width: 100%;
  border-bottom: 1px solid silver;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 10px;
}
.pf-page {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.pr-1 img {
  height: 400px;
  padding-bottom: 5px;
}
.pr-2 img {
  height: 250px;
  padding-bottom: 5px;
}
.pr-3 img {
  max-width: 350px;
  padding-bottom: 5px;
}
.pr-4 img:nth-child(1) {
  height: 450px;
  padding-bottom: 5px;
}
.pr-4 img:nth-child(2) {
  height: 500px;
  padding-bottom: 5px;
}
.bridge-1 {
  width: 350px;
}
.model-01 {
  width: 350px;
}
.model-02 {
  height: 265px;
}
.model-03 {
  height: 245px;
}
.parf {
  width: 350px;
}
.vangelis {
  width: 350px; 
  padding: 0px; 
  border: 1px solid silver;
  margin: 5px;
}
.model-04 {
  width: 350px;
}
.pr-5 {
  width: 350px; 
  padding: 0px; 
  border: 1px solid silver; 
  margin: 5px;
}
.gr-1 {
  height: 500px;
}
.gr-2 {
  height: 400px;
}
.gr-3 {
  height: 250px;
}
.gr-4 {
  height: 250px;
}

}
